@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('./github/400.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'),url('./github/400i.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'),url('./github/700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'),url('./github/700i.woff') format('woff');
}

body {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.3;
}
a.site-title {
    font-family: "EB Garamond";
    text-decoration: none
    background-color: none;
    color: white;
}
a:link,a:visited {
  color: #395998;
  text-decoration: none
}

a:hover {
  background-color: lightgreen;
}

a.site-title {
    font-family: "EB Garamond";
    text-decoration: none;
    background-color: none;
    color: white;
}

table,th,td {
  font-size: 14px;
  border: 0.2px solid #2624240a;
}

table {
  display: table;
}

td {
  padding: 0.1em;
}
