@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('./github/400.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'),url('./github/400i.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'),url('./github/700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'),url('./github/700i.woff') format('woff');
}

body {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

h1 {  font-size: 25px;}

h2 {  font-size: 20px;}

h3 {  font-size: 18px;}

h4 {  font-size: 14px;}

h5 {  font-size: 12px;}

p {  font-size: 11px;}

li, ul, ol {
  font-size: 14px;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 0;
}

table,th,td {
  font-family: Helvetica;
  font-size: 12px;
  #border: 1px solid black;
}

blockquote {
  border:  1px solid #aaa;
  background-color: rgba(66, 185, 131, .1);
  margin: 0.2em 0em 0.2em 0em;
  padding:0em 1em 0em 1em;
}

.nav__list, .nav__items {
  font-size: 14;
}

.language-notice {
  color: black;
  background: gray;
  border: black;
  border-radius: 0px;
  padding: 0;
  margin: 0;
}

/* code */
code {
	border: 1px solid #ddd;
    background-color: #cfcfcf;
	color: black;
    border-radius: 0px;
	border-width: thin;
    padding: 0;
	display: inline;
    font-size: 0.9em;
}

/* code block */
pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
  background-color: #cfcfcf;
  border: 0px solid #999;
  display: block;
  padding: 3px;
  line-height: 1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border: 1px;
}

pre > code {
  font-family: Helvetica;
  font-size: 12px;
  color: black;
  border: 0px;
}

.language-comment{
  padding: 1px;
  font-family:serif;
}

.language-tip, .language-question {
  font-family: cursive;
  line-height: 1.2;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border: 1px;
  color: blue;
  #background-color: #edbb99;
  display: inline;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  font-size: 0.8em;
  background: $code-background-color;
  border-radius:0;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

pre > code.langauge-raw {
  font-family: sans-serif;
}

.highlight .k, .highlight .kn{
  color: #008000;

}
.highlight .s {
  color: #BA2121;
}

.highlight .n, .highlight .nn {
  color: black;
}


.highlight .o {
  color: #AA22FF;
}
